body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

button {
  width: 100px;
  height: 100px;
}

.rock,
.paper,
.scissors {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-image: url("./images/rock.png");
}

.paper {
  background-image: url("./images/paper-roll.png");
}

.scissors {
  background-image: url("./images/scissor.png");
}

.humanRps,
.computerRps {
  width: 150px;
  height: 150px;
}